
/** background grid **/
.grid-container {
    display: grid;
    grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
    grid-auto-rows: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.grid-item {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    background-color: rgb(242, 87, 87);
    -webkit-animation-name: box; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    animation-name: box;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes box {
    0%   {background-color: rgb(242, 87, 87);}
    25%  {background-color: rgb(241, 134, 134);}
    50%  {background-color: rgb(221, 175, 203);}
    100% {background-color: rgb(172, 126, 148);}
}

/* Standard syntax */
@keyframes box {
    0%   {background-color: rgb(242, 87, 87);}
    25%  {background-color: rgb(241, 134, 134);}
    50%  {background-color: rgb(221, 175, 203);}
    100% {background-color: rgb(172, 126, 148);}
}

.c56 {
    animation-delay: 0.4s;
}

.c57, .c55, .c46, .c66 {
    animation-delay: 0.8s;
}

.c47, .c67, .c45, .c65 {
    animation-delay: 1.2s;
}

.c34, .c36, .c38, .c58, .c78, .c76, .c74, .c54 {
    animation-delay: 1.6s;
}

.c35, .c37, .c48, .c68, .c77, .c75, .c64, .c44 {
    animation-delay: 2.0s;
}

.c24, .c26, .c28, .c39, .c59, .c79, .c88, .c86, .c84, .c73, .c53, .c33 {
    animation-delay: 2.4s;
}

.c23, .c25, .c27, .c29, .c49, .c69, .c89, .c87, .c85, .c83, .c63, .c43 {
    animation-delay: 2.8s;
}

.c13, .c15, .c17, .c19 {
    animation-delay: 3.2s;
}
.c14, .c16, .c18 {
    animation-delay: 3.4s;
}

.c12, .c22, .c32, .c42, .c52, .c62, .c72, .c82, .c92 {
    animation-delay: 3.8s;
}

.c20, .c30, .c40, .c50, .c60, .c70, .c80, .c90 {
    animation-delay: 3.8s;
}

/* separating background and content */

.background {
    z-index: -20;
}

.content {
    z-index: 20;
}

/* content styling */
html, body {
    max-height: 100%;
    overflow-y: hidden;
}
/* left bar */

.leftbar {
    width: 30%;
    height: 100%;
    float: left;
    position: fixed;
    top: 50%;
    left: 5%;
    /* bring your own prefixes */
    transform: translate(0, -30%);
    /* padding-top: 15%;
    padding-left: 7%;
    padding-right: 20px; */
    color: white;
}

h1 {
    font-size: 70px;
    font-family: sans-serif verdana;
    font-weight: bolder;
}

.social {
    list-style-type: none;
    display: block;
    padding-top: 15px;
    
}

.social, .horiz {
    display: inline;
    margin-left: 0;
    padding-left: 0;
    padding-right: 15px;
}

.social-images {
    width: 25px;
}

p {
    letter-spacing: 1.5px;
    line-height: 20px;
}
/* projects column */

.projects {
    display: flex;
    
    float: right;
    max-width: 50%;
    width: 50%;
    position: fixed;
    left: 40%;
    /* bring your own prefixes */
    transform: translate(0, -30%);
    max-height: 15%;
    height: 15%;
}

.projectRow {
    flex-direction: row;
    border: 2px solid black;
    flex-grow: 1;
    margin: 10px;
    text-align: center;

}

.r1 {
    top: 30%;
}

.r2 {
    top: 45%;
}

.projectimg {
    padding: 0;
    margin:0;
    height: 100%;
}

.nopad {
    width: 1;
    height: 80%;
    text-align: center;
}

